// border
.border {
  border: 1px solid #ccc;
}
.border-b {
  border-bottom: 1px solid #ccc;
}
.border-l {
  border-left: 1px solid #ccc;
}
.border-r {
  border-right: 1px solid #ccc;
}
.border-t {
  border-top: 1px solid #ccc;
}

// border-radius
.br (@radius: 3px) {
  border-radius: @radius;
}
.br3 {
  .br(3px);
}
.br5 {
  .br(5px);
}
.br8 {
  .br(8px);
}

// box-shadow
.bs {
  box-shadow: 0 0 5px #555;
}
