.generate-m(10);
.generate-mt(10);
.generate-mb(10);
.generate-ml(10);
.generate-mr(10);

.generate-p(10);
.generate-pt(10);
.generate-pb(10);
.generate-pl(10);
.generate-pr(10);

/*margin*/
.generate-m(@n, @i:1) when (@i =< @n) {
  @num: (@i * 5);
  .m@{num} {
    margin: (@num * 1px);
  }
  .generate-m(@n, (@i + 1));
}

.generate-mr(@n, @i:1) when (@i =< @n) {
  @num: (@i * 5);
  .mr@{num} {
    margin-right: (1px * @num);
  }
  .generate-mr(@n, (@i + 1));
}

.generate-ml(@n, @i:1) when (@i =< @n) {
  @num: (@i * 5);
  .ml@{num} {
    margin-left: (1px * @num);
  }
  .generate-ml(@n, (@i + 1));
}

.generate-mt(@n, @i:1) when (@i =< @n) {
  @num: (@i * 5);
  .mt@{num} {
    margin-top: (1px * @num);
  }
  .generate-mt(@n, (@i + 1));
}

.generate-mb(@n, @i:1) when (@i =< @n) {
  @num: (@i * 5);
  .mb@{num} {
    margin-bottom: (1px * @num);
  }
  .generate-mb(@n, (@i + 1));
}

/*padding*/
.generate-p(@n, @i:1) when (@i =< @n) {
  @num: (@i * 5);
  .p@{num} {
    padding: (1px * @num);
  }
  .generate-p(@n, (@i + 1));
}

.generate-pr(@n, @i:1) when (@i =< @n) {
  @num: (@i * 5);
  .pr@{num} {
    padding-right: (1px * @num);
  }
  .generate-pr(@n, (@i + 1));
}

.generate-pl(@n, @i:1) when (@i =< @n) {
  @num: (@i * 5);
  .pl@{num} {
    padding-left: (1px * @num);
  }
  .generate-pl(@n, (@i + 1));
}

.generate-pt(@n, @i:1) when (@i =< @n) {
  @num: (@i * 5);
  .pt@{num} {
    padding-top: (1px * @num);
  }
  .generate-pt(@n, (@i + 1));
}

.generate-pb(@n, @i:1) when (@i =< @n) {
  @num: (@i * 5);
  .pb@{num} {
    padding-bottom: (1px * @num);
  }
  .generate-pb(@n, (@i + 1));
}
