.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}

.green {
  color: #36C455;
}
.yellow {
  color: #FBA32A;
}
.red {
  color: #FA5252;
}
.blue {
  color: #398CF8;
}
.black {
  color: #000;
}
.dark {
  color: #243141;
}
.gray {
  color: #5B6471;
}
.linght-gray {
  color: #BDC1C6;
}
.white {
  color: #fff;
}

.fw-n {
  font-weight: normal;
}
.fw-b {
  font-weight: bold;
}
.fw-l {
  font-weight: lighter;
}

.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}

.td-ol {
  text-decoration: overline;
}
.td-ul {
  text-decoration: underline;
}
.td-lt {
  text-decoration: line-through;
}
.td-no {
  text-decoration: none;
}
