// todo 文本大小
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}

.td-ol {
  text-decoration: overline;
}
.td-ul {
  text-decoration: underline;
}
.td-lt {
  text-decoration: line-through;
}
.td-no {
  text-decoration: none;
}

.success {
  color: #4fe16f;
}
.warn {
  color: #fc0;
}
.danger {
  color: #f30;
}
.gray {
  color: #555;
}
